[Desktop Entry]
Type=Application
Name=Dupont
Comment=Set your desktop wallpaper from Bing and Spotlight
Exec=dupont-app
Icon=io.github.parkiyong.dupont
Categories=GNOME;GTK;Utility;DesktopSettings;
Keywords=wallpaper;background;bing;spotlight;
StartupNotify=true
StartupWMClass=io.github.parkiyong.dupont
